

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


<div class="jumbotron text-center">
  <h1 class="display-3">Thank You!</h1>
  <p class="lead">We've recorded your submission (anonymously) and will share Yale's most listened-to artists very soon! </p>
  <hr>
  <p>
    Questions? <a href="mailto:spring.fling@yale.edu">Contact us</a>
  </p>
  <p class="lead">
    <a class="btn btn-primary btn-sm" href="https://www.yalespringfling.com/" role="button">Continue to Spring Fling Website</a>
  </p>
</div>
